.header-container {
  background-color: #0e105b;
  padding: 2rem 2rem 0 2rem;
  width: 100%;
  height: 100%;
}

.header-content {
  max-width: 1000px;
  margin: 0 auto;
  background-color: ;
}

.header-logo {
  width: 8rem;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 768px) {
  .header-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.header-text {
  text-align: center;
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .header-text {
    text-align: left;
  }
}

.header-main {
  color: white;
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}

.header-subtitle {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0;
}

.header-text-highlight {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 768px) {
  .header-text-highlight {
    justify-content: flex-start;
  }
}

.header-highlight {
  background-color: #0206b8;
  padding: 0.25rem 1rem;
  border-radius: 0.375rem;
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
  box-shadow: 0 0 20px #0206b8;
  width: fit-content;
}

.header-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.header-image {
  width: 30rem;
  max-width: 100%;
}
