<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap" rel="stylesheet">
</head>
<body style="margin:0; padding:0; font-family:'Raleway', sans-serif; background-color:#f9fafb; color:#1f2937;">

  {{> header}}

  <div style="max-width:700px; margin:40px auto; background:#ffffff; padding:16px; border-radius:8px;">
    {{{body}}}
  </div>

  {{> footer}}

</body>
</html>
